<!DOCTYPE html>
<html lang="en">
<head>
      <style>
  table, th, td{
      border: 1px solid black;
  }
  </style>
  <title>Form 3</title>
</head>
<body>
  <div>To-Do List</div>
  <table>
  <tr>
    <th>Col1</th>
    <th>Col2</th>
    <th>Col3</th>
    <th>Col4</th>
    <th>Col5</th>
  </tr>
  <tr>
    <td>{{ data.name|default('')}}</td>
    <td>{{ data.name|default('')}}</td>
    <td>{{ data.name|default('')}}</td>
    <td>{{ data.name|default('')}}</td>
    <td>{{ data.name|default('')}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

  <form>
    Project: <input type="text" value="{{ data.name|default('')}}"><br>
    Owner: <input type="text" value="{{ data.address|default('')}}"><br>
    Members: <input type="text" value="{{ data.address|default('')}}"><br>
    Description: <input type="text" value="{{ data.address|default('')}}"><br>
  </form>
</body>
</html>